@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

/* RESETTINGS */
html, body {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Commissioner', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}

img {
	display: block;
}

button {
	background-color: var(--moderate-cyan);
	color: white !important;
	font-weight: 700;
	border: none;
	border-radius: 30px;
}

input[type=number] {
	appearance: textfield;
}

/* COLORS */
:root {
	/* Primary */
	--moderate-cyan: hsl(176, 50%, 47%);
	--dark-cyan: hsl(176, 72%, 28%);
	/* Neutral */
	--black: hsl(0, 0%, 0%);
	--dark-gray: hsl(0, 0%, 48%);
}

/* MOBILE SETTINGS */
/* Body */
body {
	background-image: url("images/image-hero-mobile.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

body * { color: var(--dark-gray); }

body > section {
	align-self: center;
}

p {
	color: var(--dark-gray);
}

h1 {
	text-align: center;
	font-size: 1.4rem;
	padding: 0 5%;
}

h2 {
	font-size: 1.2rem;
}

h1, h2, h3, strong, button, label { color: var(--black); }

/* Header */
.main-header {
	display: flex;
	padding: 5% 5%;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(to bottom, black, transparent);
}

.main-header nav {
	display: none;
	flex-direction: column;
	justify-content: stretch;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	top: 15%;
	left: 5%;
	right: 5%;
	height: 35%;
	box-shadow: 0 5px 100vh var(--black);
}

.main-header nav a {
	color: var(--black);
	text-decoration: none;
	font-weight: 500;
	padding: 7%;
	flex: 1;
	font-size: 1.3rem;
}

.main-header nav a:nth-child(even) {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

#menu-btn {
	all: unset;
}

/* Sections */
body > section {
	border: 1px solid lightgray;
	border-radius: 10px;
	background-color: white;
	width: 90%;
	padding: 10% 5%;
}

body > section:nth-child(even) { margin: 5% 0; }

/* Introduction */
body > section:first-of-type {
	display: grid;
	grid-template-rows: 1fr 1fr 1f 1fr;
	grid-template-columns: 1fr 20%;
	margin-top: 50%;
	gap: 0 3%;
}

body > section:first-of-type .logo-container {
	display: flex;
	justify-content: center;
	grid-row: 1;
	grid-column: 1 / 3;
	margin-top: -30%;
}

body > section:first-of-type .logo-container img {
	width: 22%;
	align-self: center;
}

body > section:first-of-type h1 {
	grid-row: 2;
	grid-column: 1 / 3;
}

body > section:first-of-type p {
	grid-row: 3;
	grid-column: 1 / 3;
}

body > section:first-of-type button:last-of-type {
	padding: 0;
	border-radius: 50%;
}

body > section:first-of-type button:last-of-type img {
	width: 100%;
}

/* Statistics */
.project-stats {
	display: flex;
	flex-direction: column;
}

.project-stats div {
	text-align: center;
	align-self: center;
	padding: 5% 0;
}

.project-stats div:nth-child(even) {
	margin: 5% 0;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	width: auto;
}

.project-stats div strong {
	font-size: 1.8rem;
}

.progress-bar {
	background-color: lightgray;
	width: 100% !important;
	padding: 0 !important;
	border-radius: 30px;
}

.progress-bar div {
	background-color: var(--moderate-cyan);
	height: 100% !important;
	margin: 0 !important;
	border-radius: inherit;
}

/* About */
.reward-card {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 5%;
}

.reward-card:nth-child(even) {
	margin: 5% 0;
}

.reward-card h3 { margin: 0 0 3% 0; }

.reward-card > a {
	color: var(--moderate-cyan);
	font-weight: 500;
	text-decoration: none;
}

.rewards-left {
	display: flex;
	align-items: center;
}

.rewards-left * {
	color: gray !important;
}

.rewards-left strong {
	color: var(--black) !important;
	font-size: 2rem;
	margin-right: 3%;
}

.select-reward-btn {
	padding: 5% 10%;
}

/* Modal cards */
.modal-card {
	position: absolute;
	background-color: white;
	box-shadow: 0 0 100vw -10vw var(--black);
	left: 5%;
	right: 5%;
	top: 20%;
	border-radius: 10px;
	padding: 5%;
}

.close-modal-btn {
	all: unset;
	grid-row: 1;
	grid-column: 2;
	justify-self: end;
	align-self: start;
	height: 100%;
}

#modal-back-project {
	display: none;
	grid-template-rows: 10% 20% repeat(4, 1fr);
	grid-template-columns: 1fr 10%;
}

#modal-back-project h3 {
	grid-row: 1;
	grid-column: 1;
	justify-self: stretch;
	align-self: start;
	height: 100%;
	margin: 0;
	font-size: 1.4rem;
	width: 100%;
}

#modal-back-project p {
	grid-row: 2;
	grid-column: 1 / 3;
}

.pledge {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 5%;
	grid-column: 1 / 3;
	display: grid;
	grid-template-rows: 10% 1fr 10%;
	grid-template-columns: 10% 1fr;
	align-items: center;
	gap: 0 5%;
}

.pledge:nth-child(even) {
	margin: 5% 0;
}

.pledge > input {
	width: 100%;
	height: 100%;
}

.pledge-description {
	grid-row: 2;
	grid-column: 1 / 3;
}

.pledges-left {
	grid-row: 3!important;
	grid-column: 1 / 3 !important;
	display: flex;
	align-items: center;
}

.pledges-left strong {
	font-size: 1.4rem;
	margin-right: 5%;
}

.pledge-minimum {
	color: var(--moderate-cyan);
	display: block;
	font-weight: 500;
}

.pledge-value {
	display: none;
}

#modal-completed {
	display: none;
	flex-direction: column;
	align-items: center;
}

#modal-completed button {
	padding: 5% 10%;
}
