@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

/* RESETTINGS */
html, body {
	margin: 0;
	padding: 0;
}

button {
	border: none;
}

button:hover, a:hover {
	cursor: pointer;
}

* {
	font-family: 'Commissioner', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	transition: 0.2s;
	line-height: 1.5;
}

img {
	width: 100%;
	display: block;
}

p {
	color: var(--dark-gray);
}

h2 {
	font-size: 1.2rem;
}

/* COLORS */
:root {
	/* Primary */
	--moderate-cyan: hsl(176, 50%, 47%);
	--dark-cyan: hsl(176, 72%, 28%);
	/* Neutral */
	--black: hsl(0, 0%, 0%);
	--dark-gray: hsl(0, 0%, 48%);
}

/* GENERAL SETTINGS */
body {
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.btn-cyan {
	background-color: var(--moderate-cyan);
	color: white;
	font-weight: 700;
	border-radius: 30px;
}

.btn-cyan:hover {
	background-color: var(--dark-cyan);
}

/* MOBILE SETTINGS */
body {
	background-image: url("images/image-hero-mobile.jpg");
}

/* Header */
.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	height: 10vh;
	width: 100%;
	position: relative;
	background-image: linear-gradient(to bottom, var(--black), transparent);
	margin-bottom: 25vh;
}

.main-header > nav {
	position: absolute;
	top: 100%;
	left: 5%;
	right: 5%;
	display: none;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 100vh var(--black);
}

.main-header > nav > a {
	padding: 10%;
	font-weight: 500;
	font-size: 1.2rem;
	text-decoration: none;
	color: var(--black);
}

.main-header > nav > a:nth-child(even) {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

#menu-btn {
	background: none;
}

/* Sections */
section {
	width: 90%;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 5%;
}

section:nth-child(even) {
	margin: 5% 0;
}

/* Project introduction */
.project-intro {
	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: 1fr 20%;
	gap: 0 5%;
}

.project-intro .logo-container {
	grid-row: 1;
	grid-column: 1 / 3;
	display: flex;
	justify-content: center;
}

.project-intro .logo-container img {
	width: 22%;
	margin-top: -18%;
	margin-bottom: 5%;
}

.project-intro h1 {
	grid-row: 2;
	grid-column: 1 / 3;
	font-size: 1.4rem;
	text-align: center;
}

.project-intro p {
	grid-row: 3;
	grid-column: 1 / 3;
	text-align: center;
}

.project-intro .button-container {
	background-color: inherit;
	border-radius: 40px;
}

#btn-bookmark-project {
	background: none;
	border-radius: inherit;
}

#btn-bookmark-project:hover {
	filter: contrast(0.7);
}

/* Project stats */
.project-stats {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stat {
	width: 100%;
	text-align: center;
	color: var(--dark-gray);
	padding: 5% 0;
}

.stat strong {
	font-size: 1.5rem;
	color: var(--black);
}

.stat:nth-child(even) {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.reward {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 5%;
}

.reward:nth-child(even) {
	margin: 5% 0;
}

.reward-title {
	color: var(--black);
	margin: 0;
}

.reward-condition {
	color: var(--moderate-cyan);
	margin: 0;
	font-weight: 500;
}

.rewards-left {
	display: flex;
	align-items: center;
}

.rewards-left strong {
	font-size: 1.5rem;
	color: var(--black);
	margin-right: 3%;
}

.btn-select-reward {
	padding: 5% 10%;
	border-radius: 30px;
}

.reward:last-of-type {
	pointer-events: none;
	user-select: none;
	opacity: 0.4;
}

/* Modal boxes */
.modal-box {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: white;
	border-radius: 10px;
	top: 15vh;
	left: 5%;
	right: 5%;
	padding: 5%;
	box-shadow: 0 0 100vh var(--black);
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

.modal-header button { background: none; }

.pledge {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 5%;
}

.pledge:nth-child(even) {
	margin: 5% 0;
}

.pledge:last-of-type {
	pointer-events: none;
	user-select: none;
	opacity: 0.4;
}

.pledge-title {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 12% auto;
	gap: 0 5%;
}

.pledge-title > input {
	grid-row: 1 / 3;
	grid-column: 1;
	accent-color: var(--moderate-cyan);
}

.pledge-title > strong:last-child {
	color: var(--moderate-cyan);
}

.pledge-title > strong:first-of-type {
	color: var(--black) !important;
}

.pledge-value {
	display: none;
	grid-template-rows: auto auto;
	grid-template-columns: 45% 50%;
	gap: 0 5%;
	justify-content: space-between;
	border-top: 1px solid lightgray;
}

.pledge-value > input {
	grid-row: 1;
	grid-column: 1 / 3;
	border: none;
	appearance: textfield !important;
	text-align: center;
	padding: 10% 0;
}

.pledge-value > button:first-of-type {
	background: none;
	border: 1px solid lightgray;
	border-radius: 30px;
}

.pledge-value > button {
	padding: 5% 10%;
}

#modal-back-project {
	display: none;
}

#modal-completed {
	display: none;
	padding: 10%;
	text-align: center;
	align-items: center;
}

#modal-completed .modal-header {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-bottom: 10%;
}

#modal-completed .modal-header img {
	width: 30%;
}

#modal-completed button {
	padding: 5% 10%;
	margin-top: 5%;
}

/* LARGER SCREENS SETTINGS */
@media screen and (min-width: 1081px) {
	body {
		background-image: url("images/image-hero-desktop.jpg");
	}

	/* Header */
	.main-header > nav, .main-header > nav * {
		all: unset !important;
		color: white !important;
	}

	.main-header > nav {
		display: flex !important;
		width: 40% !important;
		justify-content: flex-end !important;
	}

	.main-header > nav > a:nth-child(even) {
		margin: 0 5% !important;
	}

	.main-header > nav > a:hover {
		text-decoration: underline !important;
		cursor: pointer !important;
	}

	#menu-btn {
		display: none;
	}

	/* Sections */
	section {
		width: 50%;
		padding: 2% !important;
	}

	section:nth-child(even) {
		margin: 2% 0;
	}

	/* Project intro */
	.project-intro .logo-container img {
		width: 12%;
		margin-top: -11%;
	}

	.project-intro p {
		margin-bottom: 5%;
	}

	#btn-back-project {
		width: 40%;
	}

	/* Project stats */
	.project-stats {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: auto auto auto;
	}

	.stat:nth-child(even) {
		border: none;
	}
	
	.progress-bar {
		width: 100% !important;
		height: 5% !important;
		background-color: lightgray !important;
		grid-column: 1 / 4;
		border-radius: 30px;
		margin-top: 3%;
		height: 2vh !important;
	}

	.progress-bar > div {
		background-color: var(--moderate-cyan) !important;
		width: 80% !important;
		height: 100% !important;
		border-radius: 30px 0 0 30px;
	}

	/* Project about */
	.reward {
		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: auto auto;
	}

	.reward-condition {
		justify-self: end;
	}

	.reward-description {
		grid-column: 1 / 3;
	}

	.btn-select-reward {
		justify-self: end;
		align-self: center;
	}

	/* Modal boxes */
	#modal-back-project {
		display: none;
		left: 20%;
		right: 20%;
		padding: 3%;
	}

	.pledge {
		display: grid;
		grid-template-rows: auto auto auto;
		grid-template-columns: 1fr auto;
		gap: 0 5%;
	}

	.pledge-title {
		display: flex;
		align-items: center;
		grid-row: 1;
		grid-column: 1 / 4;
	}

	.pledge-title > input {
		margin: 0;
	}

	.pledges-left {
		grid-row: 1;
		grid-column: 2;
		display: flex;
		align-items: center;
	}

	.pledges-left > strong {
		color: var(--black);
		font-size: 1.4rem;
		margin-right: 5%;
	}

	.pledge-value {
		display: flex;
		grid-row: 3;
		grid-column: 1 / 3;
		padding: 5% 0;
	}

	.pledge-value > input {
		padding: 2% 0;
		flex: 1;
		text-align: left;
	}

	.pledge-value > button {
		padding: 2% 5%;
	}

	.pledge-value > button:first-of-type > span {
		color: lightgray;
		font-weight: 700;
	}

	.pledge-value > button:first-of-type:hover {
		border-color: var(--black) !important;
	}

	#modal-completed {
		display: none;
		left: 35%;
		right: 35%;
		padding: 2%;
	}
}
